/* Always set the map height explicitly to define the size of the div
	* element that contains the map. */
#map {
	height: 100%;
}

* {box-sizing: border-box;}

body { 
	margin: 0;
}

#navbar {
	padding: .8rem 1rem;
	transition: 0.4s;
}

#show_hide_password .fa-eye-slash, 
#show_hide_password1 .fa-eye-slash, 
#show_hide_password2 .fa-eye-slash,
.default-address span {
	cursor: pointer;
}

#navbar #mlogo {
	max-height: 58px;
	transition: 0.4s;
}

#mlogo {
	max-height: 48px;
}

/** Default Style - Start **/
.w-30px {
	width: 30px;
}

.w360center {
	width: 100%;
	max-width: 468px;
	margin: 0 auto;
	margin-bottom: 4rem;
}

.acct-img {
	width: 100%;
	max-width: 20px;
	height: auto;
	border-radius: 50%;
	margin-right: 6px;
}

.indiunem {
	font-size: 12px;
	margin-right: 12px;
}

.fit-product-qty {
	max-width: 102px;
}

#ghunit {
	width: 100%;
}

.page-innerx button#adtestmsg {
	display: block!important;
}

span#nmbtemi {
	background-color: red;
	padding: 0 6px;
	border-radius: 50%;
	color: #fff;
}

#myAuth footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #323232;
	color: white;
}

.table-hover tbody tr:hover {
	cursor: pointer;
}

.tbl-action {
	padding: 0!important;
	padding-top: 5px!important;
	padding-right: 5px!important;
}

.qty_edit {
	max-width: 60px;
	text-align: end;
}

#myAuth .g-signin2 {
	top: 9px;
	left: 18px;
}

#imgogsrc2 {
	margin-left: auto;
	margin-right: auto;
}

#topnotchaer {
	position: fixed;
	bottom: 12px;
	right: 32px;
}

.img-thumbnail {
	cursor: pointer;
}

#dash-itemprod .img-thumbnail {
	max-height: 182px;
	margin: 0 auto;
}

#user-add .img-thumbnail {
	width: 100%;
	height: auto;
	max-height: 320px;
}

#itemfilenem {
	padding: 0.2rem 0.75rem;
}

#itmvwimgfl2 {
	height: 82vh;
}

#itmvwimgfl3 {
	height: 82vh;
	width: 42vw;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#ymModalItemPreviewFront .modal-body div.position-absolute {
	top: 26px;
	right: 26px;
}

#ymModalItemPreview .modal-dialog, 
#ymModalItemPreviewFront .modal-dialog {
	max-width: max-content;
}

.button-minus, .button-plus, .addminusentry {
	height: min-content;
	border: 1px solid #fff;
}

.button-plus {
	border-radius: 0 8px 8px 0;
}

.button-minus {
	border-radius: 8px 0 0 8px;
}

.addminusentry {
	width: 100%;
	max-width: 56px;
}

/** Default Style - End **/

@media only screen and (max-width: 575px) {
	#ymModalItemPreviewFront .modal-dialog {
		max-width: unset;
	}

	#itmvwimgfl3 {
		width: 84vw;
	}
}

@media only screen and (max-width: 1023px) {
	#myDashB main.page-content {
		display: none;
	}
}

@media only screen and (max-height: 690px) {
	.page-wrapper {
		height: 100%!important;
	}
}
