/** Theme Style **/

.frontpageimglogo {
	margin-left: auto;
	width: 100%;
}

.dropdown-toggle::after {
	margin-left: 12px;
}

.nav-link, .nav-link:hover, #navbar .dropdown-menu .dropdown-item {
	color: #fff;
}

.img-front-product {
	width: 100%;
	height: 156px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

#productitemz .card-title {
	display:inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 13ch;
}

#ymModalItemPreviewFront h5, 
#ymModalItemPreviewFront h4, 
#ymModalItemPreviewFront p {
	max-width: 366px;
}

#ymModalItemPreviewFront .card {
	min-width: 272px;
	background: rgb(255 255 255 / 60%);
}

/** Slick Start **/
.slick-prev {
    left: 25px;
    z-index: 1;
}

.slick-next {
    right: 25px;
}

.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

.slick-prev:before {
	content: '←';
}

.slick-next:before {
	content: '→';
}

.slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots {
	position: absolute;
	bottom: 25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li button:before {
	font-family: 'slick';
	font-size: 58px;
	line-height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	text-align: center;
	content: '';
	opacity: .25;
	background-color: #000;
	border-radius: 50%;
	border: 2px solid #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid #000;
}

.slick-frontbanner {
	border: unset;
}

.slick-frontbanner h2, 
.slick-frontbanner h3, 
.slick-frontbanner h4, 
.slick-frontbanner h5, 
.slick-frontbanner h6, 
.slick-frontbanner p {
	color: #fff;
	text-shadow: 0 0 8px #000, 0 0 8px #000;
}

.slick-frontbanner .card, 
.slick-frontbanner .card-img-top {
	border: unset;
	border-radius: unset;
}

.slick-frontbanner img.card-img-top {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.page-innerx .slick-frontbanner img.card-img-top {
	height: 100%;
	max-height: 492px;
}
/** Slick End **/

/** Carousel Style **/

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
	color: #292726;
}

.carousel-indicators li {
	border-color: #292726;
}

.carousel-indicators li.active {
	background-color: #292726;
}

.page-innerx .carousel-inner {
	height: 218px;
}

/** Testimonial **/

#myTestimonial .carousel-indicators {
	top: 68px;
}

#myTestimonial .carousel-control.right,
#myTestimonial .carousel-control.left {
	background-image: none;
	color: #292726;
}

#myTestimonial .carousel-indicators li {
	border-color: #292726;
	border-radius: 50%;
	box-sizing: border-box;
	width: 20px;
}

#myTestimonial .carousel-indicators li.active {
	background-color: #292726;
}